<link rel="stylesheet" href="/css/home.css">
<h1>👋  Social/<%= title %> 🤝</h1>

<section id="main-container">
    <section id="section1">

    </section>

    <section id="feed-posts"  class="shadow-lg p-3 mb-5 bg-body rounded">
    <h4>Write A Posts ✍️</h4>
    <form action="/post/create" id="new-post-form" method="post">
        <div class="input-group">
            <span class="input-group-text" style="max-width: 19%;">Enter <br>A <br> Post</span>
            <textarea class="form-control" aria-label="With textarea" name="content" cols="30" rows="3" placeholder="..."></textarea>
            <%if(locals.user){%>
                <button class="btn btn-outline-secondary" type="submit"> Post✌️ </button>
            <%}%>
            <script>
                let a=()=>alert('Please Logoin to Post a Post')
            </script>
            <%if(!locals.user){%>
                <button class="btn btn-outline-secondary" type="button" onclick="a()" > Post✌️ </button>
            <%}%>
        </div>
    </form>
    <h4>Brouse Posts 👀 </h4>
    <div id="posts-display-container">
            <%for(let i of posts){%>
                <div id="card-body-container" class="card shadow-sm p-3 mb-2 bg-body rounded" style="width: 70%;">
                    <div class="card-body" id="comments-container">
                        <div id="comments-writer">
                            <div id="avtar-post">
                                <img src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?ezimgfmt=rs:256x256/rscb2/ng:webp/ngcb2" alt="Sarthak">
                            </div>
                            <div id="writers-name">
                                <%= i.user.name %>
                            </div>
                        </div>
                        <div id="comments-body">
                            <%= i.comment %>
                        </div>
                    </div>
                    <div id="container-for-comments">
                        <div id="posts-container">
                            <%if(locals.user){%>
                                <form action="/comment/create" method="post">
                                    <!-- <label for="comment-on-post">Comment</label> -->
                                    <input class="form-control form-control-sm" id="comment-on-post" type="text" name="comment" placeholder="Type heare to add coment...">
                                    <input id="hidden-input" type="hidden" name="post" value="<%= i.id %>">
                                    <button type="submit" class="btn btn-dark">Comment</button>
                                </form>
                            <%}%>
                        </div>
                        <div id="posted-comments" >
                            <%for(let j of i.comments){%>
                                <div id="comment-writers-name" class="shadow p-3 mb-2 bg-body rounded">
                                    <div id="comment-writers-name-name">
                                        <div id="comment-avtar" style="display: inline;">
                                            <img src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?ezimgfmt=rs:256x256/rscb2/ng:webp/ngcb2" alt="Sarthak">
                                        </div>
                                        <%= j.user.name %>
                                    </div>
                                    <%= j.comment %>
                                </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            <%}%>
    </div>
    </section>

    <section id="section2">

    </section>
</section>